In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
df= pd.read_csv("classification.csv")
category_col=['Company','Month']
labelEncoder = preprocessing.LabelEncoder()
mapping_dict ={} 
for col in category_col: 
    df[col] = labelEncoder.fit_transform(df[col]) 
  
    le_name_mapping = dict(zip(labelEncoder.classes_, 
                        labelEncoder.transform(labelEncoder.classes_))) 
  
    mapping_dict[col]= le_name_mapping 
print(mapping_dict)

{'Company': {'Amazon': 0, 'Apple': 1, 'Facebook': 2, 'Google': 3, 'Netflix': 4}, 'Month': {'April': 0, 'August': 1, 'December': 2, 'February': 3, 'January': 4, 'July': 5, 'June': 6, 'March': 7, 'May': 8, 'November': 9, 'October': 10, 'September': 11}}

In [4]:
df=df.reindex(columns=['Month','Investment','Period','Company','Profit'])

In [5]:
df

      Month  Investment  Period  Company  Profit
0         6  954.820000       1        3       0
1         6  954.820000       2        3       0
2         6  954.820000       3        3       0
3         6  954.820000       4        3       1
4         6  954.820000       5        3       1
...     ...         ...     ...      ...     ...
1765      3  207.505263       2        2       0
1766      3  207.505263       3        2       0
1767      7  165.747727       1        2       1
1768      7  165.747727       2        2       1
1769      0  177.003335       1        2       1

[1770 rows x 5 columns]

In [6]:
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
  
X = df.values[:, 0:4] 
Y = df.values[:, 4]

In [7]:
X

array([[  6.      , 954.82    ,   1.      ,   3.      ],
       [  6.      , 954.82    ,   2.      ,   3.      ],
       [  6.      , 954.82    ,   3.      ,   3.      ],
       ...,
       [  7.      , 165.747727,   1.      ,   2.      ],
       [  7.      , 165.747727,   2.      ,   2.      ],
       [  0.      , 177.003335,   1.      ,   2.      ]])

In [11]:
X_train, X_test, y_train, y_test = train_test_split( 
           X, Y, test_size = 0.3, random_state = 100) 
  
dt_clf_gini = DecisionTreeClassifier(criterion = "gini", 
                                     random_state = 100, 
                                     max_depth = 5, 
                                     min_samples_leaf = 5) 
  
dt_clf_gini.fit(X_train, y_train) 
y_pred_gini = dt_clf_gini.predict(X_test) 
  
print ("Desicion Tree using Gini Index Accuracy is ",
             accuracy_score(y_test, y_pred_gini)*100 )

Desicion Tree using Gini Index Accuracy is  76.64783427495291

In [14]:
import warnings
import pickle
pickle.dump(dt_clf_gini,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))